<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Filmomat</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="../css/processes.css" type="text/css">
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" type="text/css">

        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../js/script.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><h1>Automatic film processor</h1></li>
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/newprocess/1">PROCESSTEST</a></li> -->
                    <li><a href="/newfilm"><i class="fa fa-plus" aria-hidden="true"></i> Add film</a></li>
                </ul>
            </nav>
        </header>

        <div id="content">
            <div id="processContainer">
                <ul>
                    <% if (processes.length > 0) { %>
                        <% processes.forEach(function(process) { %>
                            <div id="process<%= process.processid %>">
                                <li class="film process"><span><a href="#" id="<%= process.processid %>"><%= process.process_name %> </a><a class="startProcess" href="start/<%= process.processid %>" id="start"><i class="fa fa-play" aria-hidden="true"></i></a><a href="delete/<%= process.processid %>" class="delete"><i class="fa fa-trash-o"></i></a></span></li>
                                <ul id="steps_process<%= process.processid %>" data="hide"  style="overflow-x:auto;"></ul>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <h3>No processes yet</h3>
                        <a href="/newprocess/<%= id %>" id="newProcess"><h2>Add process</h2></a>
                    <% }%>
                </ul>
            </div>

        </div>
    </body>
</html>
